@font-face {
	font-family: 'Pokemon';
	src: url('./pokemon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #000;
	font-family: 'Pokemon', Arial, sans-serif;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

